.app__body-home {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0.5rem;
}

.app__body-home-bills, .app__body-home-cash {
  width: 50%;
  display: block;
  padding: 0.5rem;
}